<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1>Editing Company</h1>

      <%= render 'form' %>
    </div>
  </div>
</div>
<br />
<%= link_to 'Back', company_path, class: "btn btn-default" %>
